# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
        # Set line-length to 88, the Black default
        args: [--line-length=88]

-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.0
    hooks:
    -   id: flake8
        # Add args to make flake8 compatible with black
        additional_dependencies: [flake8-bugbear]
        args:
          - "--max-line-length=88"
          - "--ignore=E203,W503"
          # E203: Whitespace before ':' (conflicts with black)
          # W503: Line break before binary operator (conflicts with black)
